<div class="{{backgroundStyle}}">
	<h1 class="text-4xl mb-4">{{appTitle}}</h1>
	<p *ngIf="status === 'error'">ERROR: Please contact administrator.</p>
	<hr />
	<div [ngSwitch]="userGroup">
		<span *ngSwitchCase="'sales'">New sales reports have arrived.</span>
		<span *ngSwitchCase="'marketing'">Marketing plan needs to be revised.</span>
		<span *ngSwitchCase="'development'">There is a new version of react.</span>
	</div>
	<hr />
	<div class="flex items-center">
		<button class="bg-slate-900 p-1 m-2 rounded text-slate-200 disabled:opacity-25" (click)="showMessage = !showMessage" [disabled]="!infoAvailable">Info</button>
		<div *ngIf="showMessage">This is a site we are building in order to learn Angular.</div>
		<div *ngIf="!infoAvailable" class="text-red-500 italic">Sorry, no information is available at the moment.</div>
	</div>
	<hr />
	<p [ngClass]="{'highlighted': highlightProductMessage}">Be sure to view our newest products.</p>
	<hr />
</div>